doctype html
html
    head
        title='Leap Camera Control :: Feed registry'

        link(href='/dist/assets/css/registry.css', rel='stylesheet')

    body
        header(rel='page-header')
            nav
                li
                    a(href='add-image') Add image

        section#main(rel='main')
            block content
