@import 'base';

@import 'bootstrap/mixins/clearfix';
@import 'bootstrap/mixins/grid';
@import 'bootstrap/mixins/grid-framework';
@import 'bootstrap/grid';
@import 'bootstrap/mixins/text-emphasis';
@import 'bootstrap/mixins/background-variant';
@import 'bootstrap/mixins/text-overflow';
@import 'bootstrap/type';
@import 'bootstrap/mixins/center-block';
@import 'bootstrap/mixins/hide-text';
@import 'bootstrap/utilities';

@import 'compass/css3/box-shadow';
@import 'compass/css3/transform';

.row {
    section {
        height: 100%;
    }
}

.fingers {
    height: 100%;
    width: 100%;

    li {
        position: absolute;
        list-style: none;
    }
}

.feed-instance {
    background-color: #646464;
    border: 1px solid #352C2C;
    box-shadow: 0 0 5px #000;
    width: 190px;
    height: 100px;
    display: inline-block;
    margin: 10px;

    img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        position: relative;
        display: block;
    }
}

#page {
    height: 100%;
    width: 100%;

    .row {
        height: 100%;
    }
}

#main-camera {
    background: {
        color: #0a0909;
    }
}

#camera-feeds {
    @include box-shadow(#000 -3px 0 8px);
    padding-top: 20px;
}
